MAC_HOST=joaovitorborges@192.168.80.102
MAC_KEYCHAIN_PASS=your_keychain_password_here
AIRSDK_PATH=C:\AIRSDKs\AIRSDK_51.1.3.12
SIGNING_IDENTITY=Developer ID Application: SURFTANK LTDA (QZPLNQ7VA7)
WIN_SIGN_NAME=SURFTANK LTDA
